
:root {
    --primary-color: #4a4a4a;
    --background-color: #3CDBC0;
    --light-color: #ffffff;
    --primary-font: 'Rubik', sans-serif;
}

*{
    box-sizing: border-box;
    color: inherit;
    list-style-type: none;
    margin: auto
}
body {
    font-family: var(--primary-font);
}

a:link, a:visited {
    text-decoration: none;
    
}

/* MENU NAV*/

.nav {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: var(--light-color);
}
.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 15px;
}

.nav-content {
    display: flex;
    flex-direction: column;
}

.nav-logo {
    width: 155px;
}

.nav-menu {
    padding: 0px;
    margin-top: 10px;
    font-size: 16px;
    color: var(--primary-color);
}

.nav-menu li{
    display: inline-block;
}
.nav-menu li:first-child{
    padding-right: 20px;
}

/* MAIN */

.main {
    background-color: var(--background-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-title{
    font-size: 30px;
    color: var(--light-color);
}

.main-title span{
    display: block;
    text-align: center;

}


@media all and (min-width:768px){
    /* MENU NAV*/
    .nav-content {
        display: flex;
        flex-direction: row;
    }

    .nav-logo {
        margin-left: 0px;
    }
    
    .nav-menu {
        margin-right: 0px;
        margin-top: auto;
    }

    /* MAIN */
    .main-title{
        font-size: 40px;
    }

}